<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
  <div class="short-div">
    <div class="panel panel-green">
      <div class="panel-heading">
        Options
      </div>
      <div>

        <ul class="nav nav-tabs nav-stacked ">
          <li ng-class="{ activeSidebarNav: isActive('/investmenttools')}"><a href="/investmenttools">Basics & Concepts</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/typesofstocks')}"><a href="/typesofstocks">Types of Stocks</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/typesofbonds')}"><a href="/typesofbonds">Types of Bonds</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/mutualfunds')}"><a href="/mutualfunds">Mutual Funds</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/etfs')}"><a href="/etfs">ETFs</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/investmentstrategies')}"><a href="/investmentstrategies">Investment Strategies</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/financialstatements')}"><a href="/financialstatements">Financial Statements</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/analyzingstatements')}"><a href="/analyzingstatements">Analyzing Statements</a></li>


          <li ng-class="{ activeSidebarNav: isActive('/fundamentalanalysis')}"><a href="/fundamentalanalysis">Fundamental Analysis</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/technicalanalysis')}"><a href="/technicalanalysis">Technical Analysis</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/fundamentalvstechnical')}"><a href="/fundamentalvstechnical">Fundamental vs. Technical</a></li>


          <li ng-class="{ activeSidebarNav: isActive('/investingadvantages')}"><a href="/investingadvantages">Investing Advantages</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/assetallocation')}"><a href="/assetallocation">Asset Allocation</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/inflation')}"><a href="/inflation">Inflation</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/definitions')}"><a href="/definitions">Definitions</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/tutorials')}"><a href="/tutorials">Tutorials</a></li>

        </ul>

      </div>
    </div>
  </div>
  <div class="short-div">
    <div class="panel panel-green">
      <div class="panel-heading">
        Register today
      </div>
      <div class="panel-body" style="font-size:12pt;">
        <div class="well well-sm">
          Enjoy all of the benefits that ThisIsYourFund has to offer. Register today and start watching your money grow.
        </div>
      </div>
    </div>
  </div>
</div>
