<!-- Navigation -->
<nav class=" navbar-default navbar-static-top" role="navigation">

  <div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">YourFund</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-right top-nav" ng-controller="NavbarCtrl">
    <div style="padding:15pt;font-family: Arial, Helvetica, sans-serif;font-size: 18px;color: #37864A;">
      <div id="hed_ban_rgt_top">
         <span ng-hide="isLoggedIn()">
          <a ng-href="/whatis" class="headLink">What Is It?&nbsp;</i></a>
          &nbsp;I&nbsp;
        </span>
        <span ng-hide="isLoggedIn()">
          <a ng-href="#"
             ng-click="login()"
             class="headLink">Log in&nbsp;<i class="fa fa-sign-in"></i></a>
          &nbsp;I&nbsp;
        </span>
        <span ng-show="isLoggedIn()">
          <a ng-href="#"
             ng-click="logout()"
             class="headLink">
            Log Out&nbsp; <i class="fa fa-sign-out"></i></a>
          &nbsp;I&nbsp;
        </span>
        <span ng-hide="isLoggedIn()">
          <a ng-href="/signup"
             class="headLink">Register&nbsp; <i class="fa fa-plus"></i></a>
          &nbsp;I&nbsp;
        </span>
        <a ng-href="/Pricing" class="headLink">Pricing&nbsp;<i class="fa fa-usd"></i></a> &nbsp;I&nbsp;
        <a ng-href="/Aboutus" class="headLink">About Us&nbsp;<i class="fa fa-user"></i></a> &nbsp;I&nbsp;
        <a ng-href="/contact" class="headLink">Contact&nbsp;<i class="fa fa-pencil-square-o"></i></a> &nbsp;I&nbsp;
        <a ng-href="/Help" class="headLink">Help&nbsp;<i class="fa fa-question-circle"></i></a></div>
    </div>
  </ul>
  <!-- /.navbar-top-links -->


  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
          <a ng-href="/gettingstarted" style="color:#999999">
            <i class="glyphicon glyphicon-check fa-fw" style="font-size: 25px;">
            </i> Getting Started</span></a>
          <div ng-include="'components/gettingstarted/sidebar.html'"></div>
        </li>
        <li>
          <a ng-href="/main" style="color:#999999" ><i class="fa fa-line-chart fa-fw" style="font-size: 25px;"></i>
            Manage Your Fund</a>
        </li>
        <li>
          <a ng-href="#" data-toggle="modal"  ng-class="{ activeSidebarNav: isActive('/investmentresearch')}"
             data-target="#investResearchModal" style="color:#999999">
            <i class="fa fa-search fa-fw" style="font-size: 25px;"></i> Investment Research</a>
        </li>
        <li>
          <a ng-href="/investmenttools" style="color:#999999">
            <i class="fa fa-wrench fa-fw" style="font-size: 25px;"></i> Investment tools</a>
        </li>
        <li>
          <a ng-href="/main" style="color:#999999"><i class="fa fa-support fa-fw" style="font-size: 25px;"></i>
            Information Exchange</a>
        </li>
      </ul>
    </div>
  </div>

</nav>


<div class="modal fade" id="investResearchModal"
     tabindex="-1" role="dialog"
     aria-labelledby="investResearchModal"
     aria-hidden="true"
     ng-controller="MainCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header panel-green-bg">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Research Page</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group" style="padding:10px;">

            <div class="row">
              <div class="col-sm-9">
                <label class="control-label" for="inputSize">Name of Company or Fund</label>
                <input type="text"
                       ng-model="stockToResearch"
                       class="form-control"
                       id="symbolName"
                       placeholder="Enter the stock symbol..."
                       typeahead="stock.Symbol + ' - (' + stock.Name + ')' for stock in getSuggestedStocks($viewValue)"
                       typeahead-on-select="setSelectedStockFromSuggested($item.Symbol)">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="researchFunds()"  data-dismiss="modal">Research</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div></div>
