
        <ul class="nav">
          <li ng-class="{ activeSidebarNav: isActive('/Whatis')}"><a href="/whatis">What is Your Fund?</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Howitworks')}"><a href="/howitworks">How Your Fund Works?</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/whychoose')}"><a href="/whychoose">Why Choose Your Fund?</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/orientation')}"><a href="/orientation">Orientation</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Risk')}"><a href="/Risk">Risk</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/GoalSetting')}"><a href="/GoalSetting">Goal Setting</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Pricing')}"><a href="/Pricing">Pricing</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Help')}"><a href="/Help">Help</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Aboutus')}"><a href="/Aboutus">About us</a></li>
        </ul>


