<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
  <div class="short-div">
    <div class="panel panel-green">
      <div class="panel-heading">
        Options
      </div>
      <div>

        <ul class="nav nav-tabs nav-stacked ">
          <li ng-class="{ activeSidebarNav: isActive('/Whatis')}"><a href="/whatis">What is Your Fund?</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/orientation')}"><a href="/orientation">Orientation</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Risk')}"><a href="/Risk">Risk</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/GoalSetting')}"><a href="/GoalSetting">Goal Setting</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Pricing')}"><a href="/Pricing">Pricing</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Help')}"><a href="/Help">Help</a></li>
          <li ng-class="{ activeSidebarNav: isActive('/Aboutus')}"><a href="/Aboutus">About us</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="short-div">
    <div class="panel panel-green">
      <div class="panel-heading">
        Register today
      </div>
      <div class="panel-body" style="font-size:12pt;">
        <div class="well well-sm">
          Enjoy all of the benefits that ThisIsYourFund has to offer. Register today and start watching your money grow.
        </div>
      </div>
    </div>
  </div>
</div>
