<div class="row">
  <div class="col-md-12">
    <table class="row-border hover" ng-table="tableParams" ng-show="selectedFund.finalized">
      <tr ng-repeat="stock in selectedFundHistoryItems | orderBy : '-date'" ng-class="{ 'ymmfBackground': stock.symbol=='YMMF' } " >
        <td data-title="'Date'">{{stock.date | date:'medium'}}</td>
        <td data-title="'Symbol'">{{stock.symbol}}</td>
        <td data-title="'Company/Fund Name'" style="max-width: 120px">{{stock.company}}</td>
        <td data-title="'Price'">{{stock.price | currency}}</td>
        <td data-title="'# of Shares'">

          <span ng-show="(stock.symbol == 'YMMF' &&  stock.action == 'Buy' )">({{stock.total  | number:2}})</span>
          <span ng-show="(stock.symbol == 'YMMF' &&   stock.action == 'Add')">{{stock.total  | number:2}}</span>
          <span ng-show="(stock.symbol == 'YMMF' &&  stock.action == 'Sell' )">({{stock.numberOfShares  | number:2}})</span>
          <span ng-show="(stock.symbol != 'YMMF' &&  stock.action == 'Buy' )"> {{stock.numberOfShares | number:2}}</span>
          <span ng-show="(stock.symbol != 'YMMF' &&  stock.action == 'Sell' )"> ({{stock.numberOfShares | number:2}})</span>


        </td>
        <!--<td data-title="'Total'" ng-show="stock.action == 'Sell' ">({{stock.total | currency}})</td>-->
        <td data-title="'Total'" ng-show="(stock.symbol != 'YMMF')">
          <span ng-show="stock.action == 'Buy' || stock.action == 'Add' ">{{stock.total | currency}}</span>
          <span ng-show="stock.action == 'Sell' || stock.action == 'sell' ">({{stock.total | currency}})</span>
        </td>
        <td data-title="'Total'" ng-show="(stock.symbol == 'YMMF') && (stock.total != stock.numberOfShares)">
          <span ng-show="stock.action == 'Buy' || stock.action == 'Add' ">({{stock.total | currency}})</span>
          <span ng-show="stock.action == 'Sell' || stock.action == 'sell' ">({{stock.total | currency}})</span>
        </td>
        <td data-title="'Total'" ng-show="(stock.symbol == 'YMMF') && (stock.total == stock.numberOfShares) && (stock.description != 'Add money to YMMF')">
          <span ng-show="stock.action == 'Buy'">({{stock.total | currency}})</span>
          <span ng-show="stock.action == 'Add' ">{{stock.total | currency}}</span>
          <span ng-show="stock.action == 'Sell' || stock.action == 'sell' ">({{stock.total | currency}})</span>
        </td>
        <td data-title="'Total'" ng-show="(stock.symbol == 'YMMF') && (stock.total == stock.numberOfShares) && (stock.description == 'Add money to YMMF')">
          <span ng-show="stock.action == 'Buy' || stock.action == 'Add' ">{{stock.total | currency}}</span>

        </td>
        <td data-title="'Action'">{{stock.action}}</td>
        <td data-title="'Explanation'" style="max-width: 200px">{{stock.description}}</td>
      </tr>
    </table>


    <table class="row-border hover" ng-table="tableParams" ng-show="!selectedFund.finalized">
      <tr ng-repeat="stock in selectedFundHistoryItems | filter: {symbol : 'YMMF'}">
        <td data-title="'Date'">{{stock.date | date:'medium'}}</td>
        <td data-title="'Symbol'">{{stock.symbol}}</td>
        <td data-title="'Company/Fund Name'">{{stock.company}}</td>
        <td data-title="'Price'">{{stock.price | currency}}</td>
        <td data-title="'# of Shares'">{{stock.numberOfShares | number:2}}</td>

        <td data-title="'Total'" ng-show="(stock.symbol != 'YMMF')">
          <span ng-show="stock.action == 'Buy' || stock.action == 'Add' ">{{stock.total | currency}}</span>
          <span ng-show="stock.action == 'Sell' || stock.action == 'sell' ">{{stock.total | currency}}</span>
        </td>
        <td data-title="'Total'" ng-show="(stock.symbol == 'YMMF') && (stock.total != stock.numberOfShares)">
          <span ng-show="stock.action == 'Buy' || stock.action == 'Add' ">({{stock.total | currency}})</span>
          <span ng-show="stock.action == 'Sell' || stock.action == 'sell' ">{{stock.total | currency}}</span>
        </td>
        <td data-title="'Total'" ng-show="(stock.symbol == 'YMMF') && (stock.total == stock.numberOfShares) ">
          <span ng-show="stock.action == 'Buy' || stock.action == 'Add' ">{{stock.total | currency}}</span>
          <span ng-show="stock.action == 'Sell' || stock.action == 'sell' ">{{stock.total | currency}}</span>
        </td>

        <td data-title="'Action'">{{stock.action}}</td>
        <td data-title="'Explanation'">{{stock.description}}</td>
      </tr>
    </table>
  </div>
</div>
